/*
 *Name: Maddox Cotten
 *UnityID: mccotten
 *Date: 11.17.23
 *Assignment: IA 4
 *Description: style sheet, IA 4
 */
 
p {
    color:grey;
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resize {
	border 2px solid green;
    max-width:200px;
    max-height: 250px;
}
